<!--Menu bar-->
<header id="header">
    <div class="container">
        <nav class="logo">
            <img class="menu-icon" src="/_assets/image/Neko64V.png">
            <p class="menu-title">nekochan.dev</p>
        </nav>
        <ul class="links">
            <li><a href="/">Home</a></li>
            <li><a href="/blog/">Blog</a></li>
        </ul>
    </div>
</header>