---
layout: layout.njk
title: Neko's blog
---
<div class="blog-list">
    <h1 class="section-title">Blog</h1>
    {%- for post in collections.post -%}
    <div class="content-frame">
        <div class="text-area">
            <a href="{{ post.url }}" class="click-overlay"></a>
            <div class="post-overview">
                <p class="post-title">{{ post.data.title }}</p>
                <p class="post-description">{{ post.data.description }}</p>
                <p class="post-date">投稿日 : {{ post.date.toLocaleDateString() }} &nbsp;·&nbsp; {{ (post.templateContent | wordCount / 400) | round }}分程度で読めます ({{ post.templateContent | wordCount }} 字)</p>
            </div>
        </div>
        <!--サムネを右寄せ、
        <div class="thumbnail-area">
            <p>サムネ画像</p>
            <img src="{{ post.data.thumbnail }}" alt="thumbnail" width="100%" height="auto">
        </div>-->
    </div>
    {%- endfor -%}
</div>